[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[project]
	description = VSAP(VPP Stack Acceleration Project) aims to establish an industry user space application ecosystem based on VPP host stack. VSAP will adapt existing open source projects, e.g., Nginx and Envoy, with the host stack and will upstream changes whenever possible. The project will benefit both VPP host stack and the applications. Firstly, VSAP aims to help stabilize the host stack through community effort. Secondly, if possible, VSAP will try to enhance both host stack and the applications' performance. VSAP will firstly focus on Nginx and VPP host stack integration and long term the goal is to cover more projects.
[access "refs/*"]
	read = group GitHub Replication
	owner = group ldap/fdio-gerrit-vsap-committers
